# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source code
*.ts text
*.js text
*.json text
*.jsonc text
*.md text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary

# Lock files
bun.lock text
